*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.pana{
    height: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 8%;
    padding-block: 3%;
}
.con{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    background-color: white;
}
.con .left{
    height: 700px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2%;

}
.left img{
    width:400px;
}
.right{
    height: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    padding-right: 350px;


}

.txt{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.txt h3{
    font-size: 36px;
    width: 85%;
}

.txt p a{
    color: black;

}

.txt p{
    width: 70%;
}
.right p{
    font-size: 19px;
}
.spn{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
.box{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3%;
    border: 1px solid black;
}
.box p span{
    color:rgb(243,45,104);
}
.box1{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    justify-content: space-between;
    padding-inline: 3%;
    background-color: rgb(242,242,242);
}
.right a{
    font-size: 16px;
    color: black;
}
.right button{
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
}
.right .btn1{
    height: 40px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(234,234,234);
}
.btn1 img{
    width: 20px;

}

/* dib */

.dub{
    height: 550px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    padding: 1%;
    position: relative;
    left: 850px;
    bottom: 550px;
    background-color: white;
    border: 0.2px solid grey;
    border-radius: 5px;

}
.dub .txtd{
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.txtd h3{
    width: 60%;
}
.txtd p{
    width: 73%;
}
.txtd p a{
    color: black;
}
.spnd{
    display: flex;
    align-items: start;
    justify-content: center;
    row-gap: 10px;
    flex-direction: column;
    width: 100%;
}
.boxd{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3%;
    border: 1px solid black;
}

.boxd p span{
    color:rgb(243,45,104);
}

.box1d{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    justify-content: space-between;
    padding-inline: 3%;
    background-color: rgb(242,242,242);
}
.dub a{
    color: black;
}
.dub button{
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
}
.dub .btn1d{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: rgb(234,234,234);
    color: black;
    border: none;
}

.btn1d img{
    width: 20px;
}

@media(max-width:768px){
   
    .con{
        align-items: center;
        justify-content: center;
    }
    .con .left{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .right{
        width: 100%;
        display: none;
        
        
    }
    .txt h3{
        width: 100%;
    }

    

    .dub{
        left: 0px;
        bottom: 0px;
        align-items: center;
        justify-content: center;
    }
}
